.imgMain{
  width:200px;
  height:200px;
}

.mainContent{
  display:flex;
  justify-content:space-between;
  padding:20px;
  background-color: black;
  color:white;
  align-items: center;
  height: 600px;
  width: 100%;
  font-size: 12px;
  border:1px solid green;
}

.listItem ul{
  display:flex;
  justify-content:space-between;
}

.listItem ul li{
  list-style: none;
  padding:0 20px;
  font-size: 20px;
}